body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.PageTitle {
  font: 40px Arial, sans-serif;

}

.Home,.Involvement {
  text-align: left;
}

.NavigationButton {

}

.TextTitle{
  font: 21px Arial, sans-serif;
}

.TextDetail{
  font: 14px Arial, sans-serif;
}

.UpdatesContainer{

}


.UpdateRowContainer{

}
.UpdateRowTitle{

}
.UpdateRowText{

}

.WebsiteHeader{
  display: inline-block;
  margin: 0;
}
